

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
              <a href="/"><h1 class="text-center"><strong>Shop Roniel</strong></h1></a>
          </div>

          <div class="card">
            <div class="my-auto">

              <div class="card-header">
                <h1 class="login-title text-center">Register</h1>
                <%- include('./partials/messages') %>
              </div>

              <div class="card-body">
                <form action="/users/register" method="POST">
                  <div class="form-group">
                    <label for="name"><strong>Fullname</strong></label>
                    <input              type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Enter Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
                  </div>
                  
                  <div class="form-group mb-4">
                    <label for="email"><strong>Email</strong></label>
                    <input              type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                  </div>
                  
                  <div class="form-group">
                    <label for="password"><strong>Password</strong></label>
                    <input             type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Create Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
                  </div>
                  
                  <div class="form-group mb-4">
                    <label for="password"><strong>Confirm Password</strong></label>
                    <input             type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Confirm Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  />
                  </div>
    
                  <button type="submit" class="btn btn-success btn-block">Register</button>
                </form>
              </div>
    
                  <div class="card-footer">
                    <p class="login-wrapper-footer-text">Have an account? <a href="/users/login" class="text-reset">Login here</a></p>
                  </div>
            </div>
          </div>

          
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block" >
          <img src="/image/login.jpg" alt="login image" class="login-img">
        </div>

      </div>
    </div>
  </main>

  
